.form-container {
    height: 97%;
    margin-left: var(--side-bar-width);
    padding-top: 20px;
    padding-left: 20px;
}
.form-label {
    margin-right: 20px;
}
.subtitle {
    margin-bottom: 10px;
}
